<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhyun's Site</title>
    <style>
        body{
            background:lightgoldenrodyellow;
        }
        .title{
            font-size: 30px;
            text-align: center;
            margin-bottom: 10px;
        }
        .periodName{
            text-align: center;
            font-size: 20px;
            margin: 5px;
            padding: 0;
        }
        .blue{
            color: blue;
        }
        .red{
            color: red;
        }
        .green{
            color: green;
        }
        .centered{
            text-align: center;
        }
    </style>
        
</head>
<body>
    
    <% if(results[0].day_type.name == "Red Day"){ title_color = "red"%>
    <% } else if(results[0].day_type.name == "Blue Day"){ title_color = " blue"%>
    <% } else if(results[0].day_type.name == "Anchor Day") { title_color = "green" %>
    <% } %>


    <p class = "title <%=title_color%>"><%=results[0].date%> : <%= results[0].day_type.name %></p>
    <%  dayBlocks = results[0].day_type.blocks %>
    <div>
    <%  for(let i = 0; i < dayBlocks.length; i++){ %>
        <% start = dayBlocks[i].start %>
        <% end = dayBlocks[i].end %>
        <% check1 = parseInt(start.slice(0,2)) %>
        <% check2 = parseInt(end.slice(0, 2)) %>
        <% if(check1 > 12){ %>
        <% check1 = check1 - 12 %>
        <% start = check1 + start.slice(2) %>
        <% } %>
        <% if(check2 > 12){ %>
        <% check2 = check2 - 12 %>
        <% end = check2 + end.slice(2) %>
        <% } %>
        
            <p class = "periodName"> <%=dayBlocks[i].name%>: <%=start%> - <%=end%></p>
    <% } %>
    </div>
    
    
    <div>
        <h2 class = "centered"><a href = "./labs">Back to Labs Page</a></h2>
    </div>
    
    
    
    
</body>
</html>